TELLPAL_DB_URL=jdbc:postgresql://localhost:5432/tellpal_v2
TELLPAL_DB_NAME=tellpal_v2
TELLPAL_DB_PORT=5432
TELLPAL_DB_USERNAME=tellpal
TELLPAL_DB_PASSWORD=tellpal
TELLPAL_DB_MAX_POOL_SIZE=10
TELLPAL_DB_MIN_IDLE=2
